:root {
    --navbar-bg-start: #FFF6E2;
    --navbar-bg-end: #F5E7C6;
  
    --icon-color-default: #3F2724;
    --icon-color-active: #FFF1D0;
  
    --active-bg-start: #593D3B;
    --active-bg-end: #281917;
 
  }
  
  @font-face {
  font-family: 'DiambarsFont';
  src: url('/fonts/AestheticMoment.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  .contenedor-nav{
    display: flex;
    justify-content: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(1deg, var(--navbar-bg-start), var(--navbar-bg-end));
    width: 650px;
    border-radius: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    top: 15px;
    z-index: 100;
    height: 75px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navbar-logo-img {
    height: 45px;
    object-fit: contain;
    margin-left: 12px;
  }
  
  .navbar-links {
    display: flex;
    gap: 0.75rem;
    list-style: none;
    margin-right: 10px;
  }
  
  .nav-item {
    text-decoration: none;
    font-style: italic;
    color: inherit;
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40px;
    height: 50px;
    border-radius: 2rem;
    overflow: hidden;     
    transition: all 0.3s ease;
    padding: 0 3px;
  }
  
  .nav-item.active .nav-content {
    width: 160px;
    background: linear-gradient(to right, var(--active-bg-start), var(--active-bg-end));
    color: var(--icon-color-active);
  }
  
  .nav-icon-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .nav-text {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'DiambarsFont', sans-serif;
    margin-left: 5px;
    align-items: center;
    line-height: 1;
  }
  
  .nav-item.active .nav-text {
    display: inline;
  }
  