.cb-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #086788;
  border: none;
  border-radius: 12px;
  padding: 14px 190px;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cb-btn:hover {
  background-color: #2f4d6e;
}

.cb-text {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 10px;
}

.cb-arrow {
  font-size: 16px;
  color: #062355;
}
