.ppc-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  

}

.ppc-card {
  background: linear-gradient(135deg, #FFFAED, #F8EBCC);
  border-radius: 16px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  box-shadow:
    1px 4px 12px #00000052; /* ✅ Sombra más profunda */
}

.ppc-logo-container {
  margin-bottom: 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.ppc-logo {
  max-width: 2500px;
  width: 100%;
  object-fit: contain;
  
}

.ppc-text-info {
  color: #2D3748;
}

.ppc-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ppc-description {
  font-size: 14px;
  color: #718096;
  margin-bottom: 14px;
}

.ppc-status {
  font-size: 13px;
  color: #4A5568;
}
