.review-and-submit-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F7FAFC;
  }
  
  /* Distribución de contenido principal */
  .review-and-submit-content {
    flex-grow: 1;
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
  }
  